{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}sendiass/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
Sendiass
<hr class="ms-rteElement-spacer" />
<div class="col-lg-6">
<div class="promoListWebpart">
  <div class="listWebpart">
<ul>
  <li class="blockLink two blue">
    <a href="http://schoolsonlineservices.leeds.gov.uk/FISO/Childcare/SynergyEnglishHome.aspx" style="background:url(http://familyinformation.leeds.gov.uk/PublishingImages/icon-children.png) no-repeat;"><span class="info">Childcare<span class="arrow"></span></span>
    </a>
  </li>
  <li class="blockLink two grey">
    <a href="http://schoolsonlineservices.leeds.gov.uk/FISO/FamilyServices/SynergyEnglishHome.aspx" style="background:url(http://familyinformation.leeds.gov.uk/PublishingImages/icon-familyservices.png) no-repeat;"><span class="info">Family services<span class="arrow"></span></span>
    </a>
  </li>
  <li class="blockLink two purple">
    <a href="/Pages/earlystartsearch.aspx" style="background:url(http://familyinformation.leeds.gov.uk/PublishingImages/icon-postcode.png) no-repeat;"><span class="info">Early start postcode locator<span class="arrow"></span></span>
    </a>
  </li>
  <li class="blockLink two lightblue">
    <a href="/Pages/Contactus.aspx"  style="background:url(http://familyinformation.leeds.gov.uk/PublishingImages/icon-contact.png)no-repeat;" ><span class="info">Contact us<span class="arrow"></span></span>
    </a>
  </li>
</ul>
  </div>
</div>
<hr class="ms-rteElement-spacer" />

{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
{% endblock %}



{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
<hr class="ms-rteElement-spacer" />

<div class="promoListWebpart">
  <div class="listWebpart">

<ul>
      <li class="blockLink promo two double purple"><a href="/Documents/Have%20you%20heard%20about%20the%20new%20Change4Life.pdf" style="background:url(http://familyinformation.leeds.gov.uk/PublishingImages/Change-for-life-food.jpg) no-repeat;"><span class="info">Have you heard about the new Change4Life, Be Food Smart campaign?<span class="arrow"></span></span></a></li>
      <li class="blockLink promo four purple"><a href="/Documents/Stay%20Well%20This%20Winter.pdf"><span class="info">Stay Well this Winter<span class="arrow"></span></span></a></li>
      <li class="blockLink promo four lightblue"><a href="/Documents/Children's%20PhysicalActivity%20Infographic.pdf"><span class="info">Children’s physical activity Infographics<span class="secondaryInfo">Encouraging children to be physically active every day is important to keep them healthy and happy</span><span class="arrow"></span></span></a></li>
      <li class="blockLink promo four blue"><a href="/families/Pages/2-year-old-Free-Early-Education-Entitlement-.aspx"><span class="info">2 year old Free Early Education Entitlement<span class="secondaryInfo">2 year old Free Early Education Entitlement</span><span class="arrow"></span></span></a></li>
      <li class="blockLink promo four grey"><a href="/families/Pages/Early-Years-Pupil-Premium-.aspx"><span class="info">Early Years Pupil Premium<span class="secondaryInfo">Early Years Pupil Premium is available from April 2015.</span><span class="arrow"></span></span></a></li>
    </ul>


  </div>

<hr class="ms-rteElement-spacer" />
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
section three
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
section four
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
sectionfive
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}