{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}sendiass/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
<h1>Leeds Special Educational Needs and Disability Information Advice Support Service</h1>

<div class="col-md-8">
                    <h1>Contact Us</h1> 
                        <div id="ctl00_PlaceHolderMain_ctl02_label" style="display:none">Page Content</div><div id="ctl00_PlaceHolderMain_ctl02__ControlWrapper_RichHtmlField" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_ctl02_label"><p class="lead">Need further information?</p><p>Please give us your name, email address, and your query, and we will respond to you by email.<br></p><br></div> 
                        <div class="ms-webpart-zone ms-fullWidth">
	<div id="MSOZoneCell_WebPartctl00_ctl47_g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867" class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
		<div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
			<div webpartid="c0a0c5ed-7401-4d5c-b45b-0c21a0670867" haspers="false" id="WebPartctl00_ctl47_g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867" width="100%" class="ms-WPBody " allowdelete="false" allowexport="false" style=""><div id="ctl00_ctl47_g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867">
				
<div id="ctl00_ctl47_g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867_ctl00_AddCommentsDiv">

<div id="Contact-US">
        
        <div id="ctl00_ctl47_g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867_ctl00_txtNameDiv" class="form-group" data-bind="validationElement: fields.Name">
            <label class="form-label" for="ctl00_ctl47_g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867_ctl00_txtName">Name </label>
            
            
            <input name="ctl00$ctl47$g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867$ctl00$txtName" type="text" maxlength="50" id="ctl00_ctl47_g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867_ctl00_txtName" class="form-control" data-bind="value:fields.Name, validationOptions: { errorElementClass: 'form-control-error' }">
        </div>
        <div id="ctl00_ctl47_g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867_ctl00_txtEmailDiv" class="form-group" data-bind="validationElement: fields.Email">
            <label class="form-label" for="ctl00_ctl47_g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867_ctl00_txtEmail">Email Address </label>
            
            
            <input name="ctl00$ctl47$g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867$ctl00$txtEmail" type="text" maxlength="50" id="ctl00_ctl47_g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867_ctl00_txtEmail" class="form-control" data-bind="value:fields.Email, validationOptions: { errorElementClass: 'form-control-error' }">
        </div>
         <div id="ctl00_ctl47_g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867_ctl00_txtBodyDiv" class="form-group" data-bind="validationElement: fields.Comments">
            <label class="form-label" for="ctl00_ctl47_g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867_ctl00_txtBody">Message </label>
        
            
            
            <textarea name="ctl00$ctl47$g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867$ctl00$txtBody" rows="6" cols="20" id="ctl00_ctl47_g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867_ctl00_txtBody" class="form-control" data-bind="value:fields.Comments, validationOptions: { errorElementClass: 'form-control-error' }"></textarea>
        </div>
        
        <div class="form-group">
        <input type="submit" name="ctl00$ctl47$g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867$ctl00$btnSubmit" value="Submit" onclick="return LCC.ContactForm.isValid();WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ctl47$g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867$ctl00$btnSubmit&quot;, &quot;&quot;, true, &quot;CommentsGroup&quot;, &quot;&quot;, false, false))" id="ctl00_ctl47_g_c0a0c5ed_7401_4d5c_b45b_0c21a0670867_ctl00_btnSubmit" class="btn btn-primary">
        </div>
    </div>

</div>

<script type="text/javascript">

    function htmlEncode(html) {
        return document.createElement('a').appendChild(
            document.createTextNode(html)).parentNode.innerHTML;
    };

    function htmlDecode(html) {
        var a = document.createElement('a'); a.innerHTML = html;
        return a.textContent;
    };

</script>

			</div><div class="ms-clear"></div></div>
		</div>
	</div>
</div>
                    </div>

{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

                            <h2>Information and advice, for parents/carers, children, and young people with Special Educational Needs</h2>

&#8203;&#8203;<p>Leeds SEND IASS is impartial, confidential, arm's length from the Local Authority and schools, free and accessible to all parents/carers and carers of children with special educational needs and/or disabilities.</p>
<p>Leeds SEND Information Advice Support Service involves parents/carers, children and young people in discussions and decisions about their individual support.</p>
<p>Leeds SEND Information Advice Support Service will work with parents/carers children and young people to ensure that they are fully involved in the planning of SEN support for their individual needs in early years settings, schools and colleges.</p>
<p>Leeds SEND Information Advice Support Service will ensure that the child's parents/carers or the young person are fully included in the Education Health Care (EHC) needs assessment process for the start, are fully aware of their opportunities to offer views and information are consulted about the content of the plan.</p>
<p>Leeds SEND Information Advice Support Service will ensure that parents/carers children and young people are fully supported through the conversion process from the old statements to new Education Health Care plans.</p>
&#8203;

{% endblock %}



{% block sectionOneRightHandColumn %}
<img src="http://familyinformation.leeds.gov.uk/sendiass/PublishingImages/SENDIASS.jpg" alt="" class="img-responsive one">
<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="listWebpart">
    <ul>
      <li class="blockLink one lightblue text"><a href="/sendiass/ContactUs/Pages/default.aspx"><span class="info">Helpline: 0113 395 1200 (Mon-Fri 10am to 3pm)<span class="secondaryInfo">For more information visit the Contact Us page</span><span class="arrow"></span></span></a></li>
    </ul>
  </div>
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
<hr class="ms-rteElement-spacer" />
<article>
<h2>Why have an Advisory Board?</h2>

<p>The purpose of the Advisory Board is to ensure that the Leeds SEND Information Advice Support Service delivers a high quality service that is responsive to local needs, taking into account best practice both locally and nationally and to ensure that all stakeholders' views have representation.<br><br></p>

<h2>What are the functions of the Advisory Board?</h2>

<p>The primary functions of the Advisory Board are to:</p>

<ul><li>Monitor performance of the Leeds SEND Information Advice Support Service through the service delivery plan.</li>
<li>Monitor the impartiality of the service.</li>
<li>Receive reports from the Leeds SEND Information Advice Support Service Coordinator, to include information on the budget, staffing, partnerships and participation.</li>
<li>Receive parental feedback regarding special educational needs provision and the Leeds SEND Information Advice Support Service.</li>
<li>Meet with representatives of the Local Authority to communicate areas of concern and influence local policy and practice.</li>
<li>Promote the interests and concerns of the Leeds SEND Information Advice Support Service.</li>
<li>Identify ways of supporting and developing Leeds SEND IASS work.
The Advisory Board acknowledges that any decisions made which require delegated power, may not be acted upon by the Board, but will be referred to the Local Authority for actioning if appropriate.<br><br></li></ul>

<h2>Who sits on the Advisory Board?</h2>
<p>The Board is made up of individuals from different backgrounds such as statutory services (health, social care, education), the voluntary sector and parents of children with special educational needs. A maximum of 18 people can be board members.<br><br></p>

<h2>How often does the Advisory Board meet?</h2>
<p>The Board meets three times a year, each term.</p>

<p>If you are interested in becoming part of our Advisory Board, please contact Bridget Mork on 0113 3951200 or click on the "Contact Us" section to send an email.</p>

<p>Please see documents below for past minutes, agendas and reports.&#8203;</p>
                        </article>
{% endblock %}

{% block sectionTwoRightHandColumn %}
<hr class="ms-rteElement-spacer" />
<img src="http://familyinformation.leeds.gov.uk/sendiass/AdvisoryBoard/PublishingImages/Rainbow.jpg" alt="" class="img-responsive One" data-action="zoom">
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="listWebpart">
    <ul>
      <li class="doc four word"><a href="/sendiass/AdvisoryBoard/Documents/SENDIASS%20MAR%2016%20minutes.docx.doc"><span class="info">March 2016 Minutes<span class="arrow"></span></span><span class="thirdInfo">March 2016 Minutes</span></a></li>
      <li class="doc four word"><a href="/sendiass/AdvisoryBoard/Documents/Agenda%20March%202016.docx"><span class="info">March 2016 Agenda<span class="arrow"></span></span><span class="thirdInfo">March 2016 Agenda</span></a></li>
      <li class="doc four word"><a href="/sendiass/AdvisoryBoard/Documents/SENDIASS%20NOV%2015%20minutes.doc"><span class="info">November 2015 Minutes<span class="arrow"></span></span><span class="thirdInfo">November 2015 Minutes </span></a></li>
      <li class="doc four word"><a href="/sendiass/AdvisoryBoard/Documents/Agenda%20November%202015.docx"><span class="info">November 2015 Agenda<span class="arrow"></span></span><span class="thirdInfo">November 2015 Agenda</span></a></li>
      <li class="doc four word"><a href="/sendiass/AdvisoryBoard/Documents/SENDIASS%20JUN%2015%20minutes.doc"><span class="info">June 2015 Minutes<span class="arrow"></span></span><span class="thirdInfo">June 2015 Minutes </span></a></li>
      <li class="doc four word"><a href="/sendiass/AdvisoryBoard/Documents/Agenda%20June%202015.docx"><span class="info">June 2015 Agenda<span class="arrow"></span></span><span class="thirdInfo">June 2015 Agenda </span></a></li>
      <li class="doc four word"><a href="/sendiass/AdvisoryBoard/Documents/SENDIASS%20FEB%2015%20miuntes.doc"><span class="info">February 2015 Minutes<span class="arrow"></span></span><span class="thirdInfo">February 2015 Minutes </span></a></li>
      <li class="doc four word"><a href="/sendiass/AdvisoryBoard/Documents/February%202015%20agenda.doc"><span class="info">February 2015 Agenda<span class="arrow"></span></span><span class="thirdInfo">February 2015 Agenda&nbsp; </span></a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
section four
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
sectionfive
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}