{% extends "layout_multi_sections.html" %}

{% block page_title %}
Send
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
SEND
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
{% endblock %}

{% block sectionOneFullBottom %}
<p>This page will provide you with information to help and support Children and Young People with Special Educational Needs or Disability (SEND).​</p>

<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="listWebpart">
    <ul>
      <li class="blockLink promo four purple"><a href="/sendiass/Pages/default.aspx"><span class="info">Leeds SEND Information Advice Support Service (SENDIASS)<span class="arrow"></span></span></a></li>
      <li class="blockLink promo four lightblue"><a href="https://leedslocaloffer.org.uk/#/directory"><span class="info">Leeds Local Offer<span class="arrow"></span></span></a></li>
      <li class="blockLink promo four blue"><a href="/SEND/Pages/Transitions.aspx"><span class="info">Transition from childhood to adulthood<span class="arrow"></span></span></a></li>
      <li class="blockLink promo two blue"><a href="/SEND/Pages/a-brighter-future.aspx"><span class="info">A Brighter Future Magazine<span class="arrow"></span></span></a></li>
      <li class="blockLink promo four grey"><a href="/SEND/Pages/early-years.aspx"><span class="info">Early Years: Information and advice for children with SEND under 5<span class="arrow"></span></span></a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}